body {
  margin: 0px;
  padding: 0px;
}

#top_flash {
  width: 100%;
}

#top_line {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  background-color: #dc8c2b;
  width: 100%;
}

#status_bar .logo {
  color: #7a1f00
}

.logo {
  color: #dc8c2b;
}

#status_bar {
  margin-left: 2px;
}

#user_controls {
  float: right;
  margin-right: 2px;
}

.disabled_project_select {
  color: #c0c0c0;
}

#minimized {
  position: fixed;
  background-color: #ffffff;
  z-order: 10;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.byline {
  padding-right: 3px;
}

.byline a {
  text-decoration: none;
}

.byline a:hover {
  text-decoration: underline;
}

.flash {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  background-color: #c0c080;
  text-align: center;
}

.flash_notice {
  color: green;
}

.flash_error {
  color: red;
}

.comment {
  margin-left: 15px;
  margin-right: 100px;
  background-color: #e0e0e0;
  border-bottom: 1px solid black;
  border-right: 1px solid black
}


.comment_body {
  margin-left: 3px;
  margin-right: 3px;
}

#main {
  margin-left: 2px;
  margin-right: 2px;
}

.bucket_edit_block {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bucket_edit_block img {
  float: left;
  border: 0px;
}

.bucket_container {
  position: relative;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2px;
  background-color: #e0e0ff;
}

.bucket {
  width: 48%;
  float: left;
}

.cancel_button {
  margin-left: 35%;
  margin-right: 35%;
}

.new_button {
  margin-left: 35%;
  margin-right: 35%;
}

.skip_button {
  margin-left: 35%;
  margin-right: 35%;
}

.clear {
  clear: both;
}

.button-to {
  display: inline;
}

.button-to input {
  display: inline;
  float: left;
  margin-right: 1em;
}

#popup_bucket {
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  border-top: 0px;
  background-color: #e0ffff;
  position: relative;
}

/*  Don't display the Back button for the popup version. */
#popup_bucket .buckets_back {
  display: none;
}

#popup_bucket h1 {
  display: none;
  font-size: 100%;
  text-align: center;
/*  display: inline; */
}

#popup_bucket form p {
  margin-left: 5px;
  float: left;
}

#popup_bucket form p#bucket_submit_button {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline;
}

#popup_bucket form p#bucket_boilerplate {
  display: inline;
  margin-top: 0px;
  float: left;
}

.edit_button {
  border: 0px;
  float: left;
}

.delete_button {
  border: 0px;
  float: left;
}

.form_label {
  text-align: left;
  width: 6em;
  display: inline-block;
}

.form2_label {
  text-align: left;
  width: 12em;
  display: inline-block;
}

#bucket_block {
  background-color: white;
  padding-top: 4px;
  border-bottom: 1px solid black;
}

.even {
  background-color: #f8f8ff;
}

.odd {
  background-color: #f8f8f8;
}

.ticket_list {
  display: block;
  overflow: hidden;
  width: 80%;
  height: 2em;
  list-style: none;
}
