<div id="<%= location %>" class="byline">
<a href="http://github.com/cyberfox/triage"><span class="logo">Triage</span></a> by <a href="http://github.com/cyberfox">Morgan Schweers</a> | A <a href="http://www.cyberfox.com"><span class="logo">Cyber</span><span style="color: #7a1f00">FOX</span></a> project</small></span>
</div>
